<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanma.module.log.mapper.LogMapper">

    <select id="findByCond" resultType="com.yuanma.module.log.entity.LogEntity">
        SELECT
            t.*,
            a.nick_name as oper_name
        FROM
            tb_log t
        left join sys_user a on t.user_id = a.user_id
        WHERE
            1 = 1
        <if test="null != cond.title and cond.title !='' ">
            AND t.title like concat('%',#{cond.title},'%')
        </if>
        <if test="null != cond.businessType and cond.businessType !='' ">
            AND t.business_type = #{cond.businessType}
        </if>
        <if test="null != cond.operName and cond.operName !='' ">
            AND a.nick_name like concat('%',#{cond.operName},'%')
        </if>
        <if test="null != cond.status and cond.status !='' ">
            AND t.status = #{cond.status}
        </if>
        <if test="cond.startDate != null and cond.startDate != ''">
            <![CDATA[and t.create_time >= DATE_FORMAT(#{cond.startDate},'YYYY-MM-DD')]]>
        </if>
        <if test="cond.endDate != null and cond.endDate != ''">
            <![CDATA[and t.create_time <= DATE_FORMAT(concat(#{cond.endDate},' 23:59:59'),'%Y-%m-%d HH24:MI:SS')]]>
        </if>
    </select>

</mapper>